<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.diat"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="8" />

    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name="com.diat.TrickyExpertActivity" 
        
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="com.diat.Fart"
        		android:label="@string/fart">
        </activity>
        
        <activity android:name="com.diat.Fart1"
        		android:label="@string/fart">
        </activity>
        
        <activity android:name="com.diat.Banger"
        		android:label="@string/banger">
        </activity>
        
        <activity android:name="com.diat.Brokenscreen" android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
        		android:label="@string/brokenscreen"  >
        </activity>
        <activity android:name="com.diat.BrokenScreenInit" android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
        		android:label="@string/brokenscreen" >
        </activity>        
                
        
        <activity android:name="com.diat.Alarm"
        		android:label="@string/alarm">
        </activity>
        
        <activity android:name="com.diat.CountActivity"
        		android:label="@string/countback">
        </activity>
        
        <activity android:name="com.diat.Ghost"
        		android:label="@string/ghost">
        </activity>
        
        <activity android:name="com.diat.GhostShow"
        		android:label="@string/ghost">
        </activity>
        
        <receiver android:name="com.diat.AlarmReceiver" android:enabled="true">
        </receiver>
        <receiver android:name="com.diat.BrokenscreenAlarmReciever" android:enabled="true">
        </receiver>
        
    	<uses-library android:name="android.test.runner" />
    </application>
    
    <instrumentation android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="com.diat"
        android:label="Test cases for Tricky Expert project.">
    </instrumentation>
    
   <!-- sdcard permission --> 
　　 <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
</manifest>